# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# Environment variables (VERY IMPORTANT)
.env

# Pytest
.pytest_cache/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Coverage (optional)
.coverage
htmlcov/

# Build files
dist/
build/
*.egg-info/